{% extends 'base.html' %}

{% block title %}Acceuil{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Calendar Section -->
        <div class="col-md-8">
            <h3 class="mb-4">Calendrier</h3>
            <div id="calendar"></div>
        </div>

        <!-- KPI Section -->
        <div class="col-md-4">
            <h3 class="mb-4">KPIs</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Revenue</h5>
                    <p class="card-text">250,000.00 MAD</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Depenses</h5>
                    <p class="card-text">175,000.00 MAD</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Evenements pour ce mois</h5>
                    <p class="card-text">{{ monthly_events_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/events/calendar-events/',  // URL to fetch events
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // Prevent the default navigation

                if (info.event.url) {
                    window.location.href = info.event.url; // Redirect to the event detail page
                }
            }
        });

        calendar.render();
    });
</script>

{% endblock %}
