{% extends 'base.html' %}

{% block title %}Créer ou Modifier un Menu{% endblock %}

{% block content %}
<h2 class="text-center">Créer ou Modifier un Menu</h2>
<div class="card mt-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enregistrer le Menu</button>
            </div>
        </form>
    </div>
</div>
<div class="text-center mt-4">
    <a href="{% url 'menu:menu_list' %}" class="btn btn-secondary">Retour à la Liste des Menus</a>
</div>
{% endblock %}
