{% extends 'base.html' %}

{% block title %}Réservations{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Réservations</h2>
    <a href="{% url 'reservations:add_reservation' %}" class="btn btn-primary mb-3">Ajouter une nouvelle réservation</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Montant Total</th>
                <th>Montant Restant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.total_amount }}</td>
                <td>{{ reservation.remaining_amount }}</td>
                <td>
                    <a href="{% url 'reservations:edit_reservation' reservation.id %}" class="btn btn-sm btn-primary">Modifier</a>
                    <!-- Bouton Supprimer -->
                    <form method="post" action="{% url 'reservations:delete_reservation' reservation.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Aucune réservation trouvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
